{%extends "webrtc/base.html" %}
{% block content-body %}
<center><h2 style="color:#800000;">Video</h2><center>
<p>
Want to record your video conversation.This is the app for you.</p>
<center><h2 style="color:#800000;">Record</h2><center>
<p>Chat here and save your conversation</p>
<center><h2 style="color:#800000;">Check at any time</h2></center>
<p>    Check your recorded conversation anytime and anywhere.</p>
<center><h2 style="color:#800000;">Share Your Stories</h2></center>
<p>    Share your experiences and inspire others.. </p>
</p>
{% endblock %}
