<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Britecam</title>
	<link href="/static/css/bootstrap12.css" rel="stylesheet">
    <link href="/static/css/boot.css" rel="stylesheet">
    <link href="/static/css/skin.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
<link href="/static/css/login.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/fonts/fonts.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/static/js/jquer.js"></script>
<script type="text/javascript" src="/static/js/booty.css.js"></script>
<script type="text/javascript" src="/static/js/loopslider.js"></script>
<script type="text/javascript" src="/static/js/social.js"></script>
<script type="text/javascript" src="/static/js/cufon.js"></script>
        <meta name="description" content="Video chat" />
        <meta name="keywords" content="css3, perspective, 3d, jquery, transform3d, responsive, template, restaurant, menu, leaflet, folded, flyer, concept" />
        <meta name="author" content="Codrops" />
<link rel="shortcut icon" href="http://www.clipartsfree.net/vector/small/blood_clipart_Clipart_Free.png">
        <link rel="stylesheet" type="text/css" href="/static/css/main/style.css" />
    <link href="/static/css/bootstrap12.css" rel="stylesheet">
		<script src="/static/js/bootstrap12.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Raleway:300,500|Arvo:700' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="/static/js/main/modernizr.custom.79639.js"></script> 
		<!--[if lte IE 8]><style>.support-note .note-ie{display:block;}</style><![endif]-->
    </head>
    <body style="background:url('https://c2.staticflickr.com/4/3027/3052754005_2ecff7d64c.jpg');">
	<ul class="social-buttons cf" style="position:fixed;">
	<li>

	<a href="https://plus.google.com/+WebRTCorg/posts" class="socialite googleplus-one" data-size="tall" 
	data-href="https://plus.google.com/+WebRTCorg/posts" rel="nofollow" target="_blank"><span class="vhidden">Share on Google+</span></a>
	</li>
	<li>
	<a href="https://www.facebook.com/WebRTC" class="socialite facebook-like" 
	data-href="https://www.facebook.com/WebRTC" data-send="true" data-layout="box_count" data-width="60" data-show-faces="true" rel="nofollow" target="_blank"><span class="vhidden">Share on Facebook</span></a>
	</li>
</ul>
					<div id="google_translate_element"  style="float:right;"></div><script type="text/javascript">
              function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,bn,gu,hi,kn,mr,ms,ta,te', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
              }
              </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>	
        <div class="container">
		
			<!-- Codrops top bar -->
            <div class="codrops-top">
                
                
            </div><!--/ Codrops top bar -->
			
			<header>
		<br/>	
				<h1 style="text-align:center;color:#00ff00;font-size:50px">Britecam</h1>
				<h4 style="text-align:center;color:#00ff00;">
					An App which saves Lives 
					
				</h4>
				
				<!--div class="support-note"><!-- let's check browser support with modernizr -->
					<!--<span class="no-cssanimations">CSS animations are not supported in your browser</span>
					<span class="no-csstransforms">CSS transforms are not supported in your browser</span>
					<span class="no-csstransforms3d">CSS 3D transforms are not supported in your browser</span>
					<span class="no-csstransitions">CSS transitions are not supported in your browser</span>
					<span class="note-ie">Sorry, only modern browsers.</span>
				</div-->
				
			</header>
			
			<section class="main">

				<div id="rm-container" class="rm-container">

					<div class="rm-wrapper">

						<div class="rm-cover">

							<div class="rm-front">
								<div class="rm-content">

									<img style="width:60%;height:60%;"src="/static/img/main.jpg"/>
									<h2 style="font-size:100%;color:#00ff00">Britecam</h2>
									<h3>An App which ........</h3>
									<center><a class="btn btn-danger btn-lg" href="/accounts/login/">LOGIN</a></center>
									<a href="#" class="rm-button-open">Get Started</a>
									<div class="rm-info">
										<p>
										<strong>Chat and record.</strong><br>
										Record your chats. </p>
									</div>

								</div><!-- /rm-content -->
							</div><!-- /rm-front -->

							<div class="rm-back">
								<div class="rm-content">
									<h4>About Us</h4>
									<dl>
										<dt>Video</dt>
										<dd>video chat</dd>

										<dt>Record</dt>
										<dd>record your chat</dd>

										<dt>View</dt>
										<dd>View your chat from anywhere and at anytime.</dd>

										<dt>Share Your Stories</dt>
										<dd>Share your experiences and inspire others..</dd>
										
										
								</div><!-- /rm-content -->
								<div class="rm-overlay"></div>

							</div><!-- /rm-back -->

						</div><!-- /rm-cover -->

						<div class="rm-middle">
							<div class="rm-inner">
								<div class="rm-content">
									<h4>Britecam</h4>
                                                                        Video chat and record
								<br/><br/>
							<br/>
							<center><a class="btn btn-danger btn-lg" href="/accounts/login/">LOGIN</a></center>
								</div><!-- /rm-content -->
								<div class="rm-overlay"></div>
							</div><!-- /rm-inner -->
						</div><!-- /rm-middle -->

						<div class="rm-right">

							<div class="rm-front">
								
							</div>

							<div class="rm-back">
								<span class="rm-close">Close</span>
								<div class="rm-content">
									<h4>Contact Us</h4>
									<dl>
										<dt>Unorthodox</a></dt>
										<dd>adada@unorthodox.com</dd>
									
										
									<!--div class="rm-order">
										<p><strong>Would you like us to cater your event?</strong> Call us &amp; we'll help you find a venue and organize the event: <strong>626.511.1170</strong></p>
									</div-->
								</div><!-- /rm-content -->
							</div><!-- /rm-back -->

						</div><!-- /rm-right -->
					</div><!-- /rm-wrapper -->

				</div><!-- /rm-container -->

			</section>
			
        </div>
		<!-- jQuery if needed -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/main/menu.js"></script>
		<script type="text/javascript">
			$(function() {

				Menu.init();
			
			});
		</script>
<script type="text/javascript"> Cufon.now(); </script>
<script>
$(document).ready(function() {
		Socialite.load($('#social'));
		});
</script>
<script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
   
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46287190-1', 'gcdc2013-firstblaid.gov.appspot.com');
      ga('send', 'pageview');

    </script>
    </body>
</html>
